* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: "Neue Machina";
  src: url("https://raw.githubusercontent.com/alexandrefnas/portifolio/main/assets/fonts/neue-machina-regular.otf");
}

body {
  background: linear-gradient(135deg, #807e7e 0%, #111111 40%, #7e6b6b 100%);
  color: #fff;
  min-height: 100vh;
  margin: 1rem;
}

.main {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 1100px) {
  .main {
    max-width: 1024px;
    margin: 1rem auto;
  }
}
